.taronja {
    background-color:orange;
    height:50px;
    position:absolute;
    top:25px;
    width:50px;
}
.lila {
    background-color:purple;
    height:50px;
    left:15px;
    position:absolute;
    top:15px;
    width:50px;
}