.cursorAuto {
    user-select: none;
}
.cursorPointer {
    user-select: none;
}
.cursorHelp {
    user-select: none;
}
.cursorWait {
    user-select: none;
}
.cursorGrab {
    user-select: none;
}
.cursorNW {
    user-select: none;
}
.cursorZoom {
    user-select: none;
}