.root {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999999;
}
.popup {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    width: 400px;
}