body { 
    background: center / cover url("./008.jpg");
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}
.autocenter { 
    border: solid 2px red;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1264px;
    min-height: 100vh;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .autocenter { 
        padding-left: 16px;
        padding-right: 16px;
    }
}
#caixa {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s ease;
    width: 200px;
}
.botoTopLeft {
    position: absolute;
    top: 0;
    left: 0;
}
.botoTopRight {
    position: absolute;
    top: 0;
    right: 0;
}
.botoBottomLeft {
    bottom: 0;
    position: absolute;
    left: 0;
}
.botoBottomRight {
    bottom: 0;
    position: absolute;
    right: 0;
}